@import "../../GlobalVars.scss";

.main-page {
    &__about-site {
        p {
            text-align: justify;
            @media screen and (max-width: $mobileBreakPoint) {
                text-align: left;
            }
        }
    }
    &__cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}
