@import '../../GlobalVars.scss';

.main {
    background-color: white;
    padding: 20px;
    min-height: $mainMinHeight;

    @media screen and (max-width: $breakPoint) {
        min-height: $mainMinHeightMobile;
    }
    
    &__wrapper {        
        // max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        padding-left: $mainPaddingDesktop;
        padding-right: $mainPaddingDesktop;
        @media screen and (max-width: $breakPoint) {
            padding-left: $mainPaddingMobile;
            padding-right: $mainPaddingMobile;
        }
    }

    &__breadCrumbsWrapper {
        height: $breadCrumbsHeight;
        display: flex;
        align-items: center;
    }
}