@import "../../GlobalVars.scss";

.menu {
    position: absolute;
    width: 256px;
    overflow: auto;
    max-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    border-radius: 15px;
    left: $mainPaddingDesktop;
    @media screen and (max-width: $breakPoint) {
        max-height: calc(100vh - #{$headerHeightMobile} - #{$footerHeight});
        left: $mainPaddingMobile;
    }    
}

.overlay {
    position: absolute;
    width: 100%;        
    background-color: rgba(0, 0, 0, 0.7);
    height: calc(100% - #{$headerHeight});
    @media screen and (max-width: $breakPoint) {
        height: calc(100% - #{$headerHeightMobile});
    }
    &-hidden {
        display: none;
    }
}

body {
    &.menuIsOpen {
        // position: fixed;
        // overflow-y: scroll;
        // overflow-y: hidden;
    }
}
