$breakPoint: 599px;
$headerHeight: 100px;
$headerHeightMobile: 70px;
$breadCrumbsHeight: 40px;
$footerHeight: 40px;
$mainMinHeight: calc(100vh - #{$headerHeight} - #{$breadCrumbsHeight} - #{$footerHeight});
$mainMinHeightMobile: calc(100vh - #{$headerHeightMobile} - #{$breadCrumbsHeight} - #{$footerHeight});
$mainPaddingDesktop: 40px;
$mainPaddingMobile: 15px;
$maxAppWidth: none;